* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f6fa;
    color: #222;
}

.navbar {
    background: #6c2bd9;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 18px 40px;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    text-decoration: underline;
}

.container {
    padding: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 25px;
}

.header h1 {
    margin-bottom: 8px;
}

.header p {
    color: #666;
}

.add-btn {
    background: #6c2bd9;
    color: white;

    text-decoration: none;

    padding: 12px 18px;

    border-radius: 6px;
}

.add-btn:hover {
    background: #5720b7;
}

.table-container {
    background: white;

    border-radius: 12px;

    overflow-x: auto;

    box-shadow:
        0 3px 12px rgba(0, 0, 0, 0.08);
}

table {
    width: 100%;

    border-collapse: collapse;

    min-width: 850px;
}

th,
td {
    padding: 15px;

    text-align: left;

    border-bottom: 1px solid #eee;
}

th {
    background: #f8f8fb;

    font-size: 14px;
}

td {
    font-size: 14px;
}

td a {
    color: #6c2bd9;

    text-decoration: none;

    font-weight: bold;
}

td a:hover {
    text-decoration: underline;
}

.empty {
    text-align: center;

    padding: 40px;

    color: #777;
}

@media (max-width: 600px) {

    .navbar {
        flex-direction: column;

        gap: 15px;

        padding: 18px;
    }

    .nav-links {
        flex-wrap: wrap;

        justify-content: center;
    }

    .container {
        padding: 20px;
    }

    .header {
        flex-direction: column;

        align-items: flex-start;

        gap: 15px;
    }

}

.filter-form {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.filter-form input,
.filter-form select {
    padding: 10px 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
}

.filter-form input {
    width: 250px;
}

.filter-form select {
    min-width: 150px;
}

.filter-form button {
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    background: #6c2bd9;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.filter-form button:hover {
    background: #5720b7;
}

.filter-form a {
    padding: 10px 12px;
    text-decoration: none;
    color: #6c2bd9;
    font-weight: bold;
}